@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Aleo, sans-serif;
}
html{
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #a12c2c, #79222a, #521a24, #2c1218, #000000);
}

p {
    font-size: 25px;
    color: white;
    font-weight: 300;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

h1 {
    font-size: 55px;
    color: white;
    font-weight: 300;
}

h2 {
    font-size: 40px;
    color: white;
    font-weight: 300;

}